<div class="card-product">
  <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> -->

  <%= image_tag "1.jpg", alt: "Le Wagon", width: 200 %>
  <div class="card-product-infos">
    <h2><%= cocktail.name %></h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

